<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @training.location %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @training.organizer %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @training.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @training.enddate %>
</p>

<p>
  <strong>Name surname:</strong>
  <%= @training.name_surname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @training.gender %>
</p>

<p>
  <strong>Provenance district:</strong>
  <%= @training.provenance_district %>
</p>

<p>
  <strong>Place of work:</strong>
  <%= @training.place_of_work %>
</p>

<p>
  <strong>Position:</strong>
  <%= @training.position %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @training.qualification %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @training.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @training.email %>
</p>

<p>
  <strong>Duration days:</strong>
  <%= @training.duration_days %>
</p>

<p>
  <strong>Type name of training:</strong>
  <%= @training.type_name_of_training %>
</p>

<p>
  <strong>Pre test:</strong>
  <%= @training.pre_test %>
</p>

<p>
  <strong>Post test:</strong>
  <%= @training.post_test %>
</p>

<p>
  <strong>Date of post training follow up:</strong>
  <%= @training.date_of_post_training_follow_up %>
</p>

<p>
  <strong>Technical area:</strong>
  <%= @training.technical_area %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
