<%= form_for(@siscom_report) do |f| %>
  <% if @siscom_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@siscom_report.errors.count, "error") %> prohibited this siscom_report from being saved:</h2>

      <ul>
      <% @siscom_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Periode %><br>
    <%= f.date_select :Periode %>
  </div>
  <div class="field">
    <%= f.label :Diarrhea2_59months %><br>
    <%= f.number_field :Diarrhea2_59months %>
  </div>
  <div class="field">
    <%= f.label :Pneumonia2_59months %><br>
    <%= f.number_field :Pneumonia2_59months %>
  </div>
  <div class="field">
    <%= f.label :Accouchement_domicile %><br>
    <%= f.number_field :Accouchement_domicile %>
  </div>
  <div class="field">
    <%= f.label :Micropostal %><br>
    <%= f.number_field :Micropostal %>
  </div>
  <div class="field">
    <%= f.label :Active_CHWs %><br>
    <%= f.number_field :Active_CHWs %>
  </div>
  <div class="field">
    <%= f.label :Total_CHWs %><br>
    <%= f.number_field :Total_CHWs %>
  </div>
  <div class="field">
    <%= f.label :Total_red_alert %><br>
    <%= f.number_field :Total_red_alert %>
  </div>
  <div class="field">
    <%= f.label :Responce_red_alert %><br>
    <%= f.number_field :Responce_red_alert %>
  </div>
  <div class="field">
    <%= f.label :RDT_positive %><br>
    <%= f.number_field :RDT_positive %>
  </div>
  <div class="field">
    <%= f.label :RDT_negative %><br>
    <%= f.number_field :RDT_negative %>
  </div>
  <div class="field">
    <%= f.label :Malaria_6_59months_treated_before_24h %><br>
    <%= f.number_field :Malaria_6_59months_treated_before_24h %>
  </div>
  <div class="field">
    <%= f.label :Malaria_6_59months_treated_after_24h %><br>
    <%= f.number_field :Malaria_6_59months_treated_after_24h %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
