<p id="notice"><%= notice %></p>

<h1>Listing Siscom Reports</h1>

<table>
  <thead>
    <tr>
      <th>Periode</th>
      <th>Diarrhea2 59months</th>
      <th>Pneumonia2 59months</th>
      <th>Accouchement domicile</th>
      <th>Micropostal</th>
      <th>Active chws</th>
      <th>Total chws</th>
      <th>Total red alert</th>
      <th>Responce red alert</th>
      <th>Rdt positive</th>
      <th>Rdt negative</th>
      <th>Malaria 6 59months treated before 24h</th>
      <th>Malaria 6 59months treated after 24h</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siscom_reports.each do |siscom_report| %>
      <tr>
        <td><%= siscom_report.Periode %></td>
        <td><%= siscom_report.Diarrhea2_59months %></td>
        <td><%= siscom_report.Pneumonia2_59months %></td>
        <td><%= siscom_report.Accouchement_domicile %></td>
        <td><%= siscom_report.Micropostal %></td>
        <td><%= siscom_report.Active_CHWs %></td>
        <td><%= siscom_report.Total_CHWs %></td>
        <td><%= siscom_report.Total_red_alert %></td>
        <td><%= siscom_report.Responce_red_alert %></td>
        <td><%= siscom_report.RDT_positive %></td>
        <td><%= siscom_report.RDT_negative %></td>
        <td><%= siscom_report.Malaria_6_59months_treated_before_24h %></td>
        <td><%= siscom_report.Malaria_6_59months_treated_after_24h %></td>
        <td><%= link_to 'Show', siscom_report %></td>
        <td><%= link_to 'Edit', edit_siscom_report_path(siscom_report) %></td>
        <td><%= link_to 'Destroy', siscom_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Siscom report', new_siscom_report_path %>
