<p id="notice"><%= notice %></p>

<p>
  <strong>Report period:</strong>
  <%= @family_planning_report.report_period %>
</p>

<p>
  <strong>Delivery 1:</strong>
  <%= @family_planning_report.delivery_1 %>
</p>

<p>
  <strong>Delivery 2:</strong>
  <%= @family_planning_report.delivery_2 %>
</p>

<p>
  <strong>Neonantology male:</strong>
  <%= @family_planning_report.neonantology_male %>
</p>

<p>
  <strong>Neonantology female:</strong>
  <%= @family_planning_report.neonantology_female %>
</p>

<p>
  <strong>Anc oral contraceptive:</strong>
  <%= @family_planning_report.anc_oral_contraceptive %>
</p>

<p>
  <strong>Anc injectable:</strong>
  <%= @family_planning_report.anc_injectable %>
</p>

<p>
  <strong>Anc implants:</strong>
  <%= @family_planning_report.anc_implants %>
</p>

<p>
  <strong>Anc iud:</strong>
  <%= @family_planning_report.anc_iud %>
</p>

<p>
  <strong>Anc male condom:</strong>
  <%= @family_planning_report.anc_male_condom %>
</p>

<p>
  <strong>Anc female condom:</strong>
  <%= @family_planning_report.anc_female_condom %>
</p>

<p>
  <strong>Anc barriers:</strong>
  <%= @family_planning_report.anc_barriers %>
</p>

<p>
  <strong>Anc cycle beads:</strong>
  <%= @family_planning_report.anc_cycle_beads %>
</p>

<p>
  <strong>Anc auto observation:</strong>
  <%= @family_planning_report.anc_auto_observation %>
</p>

<p>
  <strong>Anc tubal ligation:</strong>
  <%= @family_planning_report.anc_tubal_ligation %>
</p>

<p>
  <strong>Anc vasectomy:</strong>
  <%= @family_planning_report.anc_vasectomy %>
</p>

<p>
  <strong>Acceptors 1:</strong>
  <%= @family_planning_report.acceptors_1 %>
</p>

<p>
  <strong>Acceptors 2:</strong>
  <%= @family_planning_report.acceptors_2 %>
</p>

<p>
  <strong>Acceptors oral contraceptive:</strong>
  <%= @family_planning_report.acceptors_oral_contraceptive %>
</p>

<p>
  <strong>Acceptors injectable:</strong>
  <%= @family_planning_report.acceptors_injectable %>
</p>

<p>
  <strong>Acceptors implants:</strong>
  <%= @family_planning_report.acceptors_implants %>
</p>

<p>
  <strong>Acceptors iud:</strong>
  <%= @family_planning_report.acceptors_iud %>
</p>

<p>
  <strong>Acceptors male condom:</strong>
  <%= @family_planning_report.acceptors_male_condom %>
</p>

<p>
  <strong>Acceptors female:</strong>
  <%= @family_planning_report.acceptors_female %>
</p>

<p>
  <strong>Condom:</strong>
  <%= @family_planning_report.condom %>
</p>

<p>
  <strong>Acceptors other barriers:</strong>
  <%= @family_planning_report.acceptors_other_barriers %>
</p>

<p>
  <strong>Acceptors cycle beads:</strong>
  <%= @family_planning_report.acceptors_cycle_beads %>
</p>

<p>
  <strong>Acceptors auto observation:</strong>
  <%= @family_planning_report.acceptors_auto_observation %>
</p>

<p>
  <strong>Acceptors tubal ligation:</strong>
  <%= @family_planning_report.acceptors_tubal_ligation %>
</p>

<p>
  <strong>Acceptors vasectomy:</strong>
  <%= @family_planning_report.acceptors_vasectomy %>
</p>

<p>
  <strong>References:</strong>
  <%= @family_planning_report.references %>
</p>

<%= link_to 'Edit', edit_family_planning_report_path(@family_planning_report) %> |
<%= link_to 'Back', family_planning_reports_path %>
