<p id="notice"><%= notice %></p>

<h1>Listing Gender Reports</h1>

<table>
  <thead>
    <tr>
      <th>Meeting date</th>
      <th>Meeting venue</th>
      <th>Hf targeted</th>
      <th>Hf participated</th>
      <th>Admin sector targeted</th>
      <th>Admin sector participated</th>
      <th>Admin cell targeted</th>
      <th>Admin cell participated</th>
      <th>Male 10 14</th>
      <th>Female 10 14</th>
      <th>Male 15 19</th>
      <th>Female 15 19</th>
      <th>Male 20 24</th>
      <th>Female 20 24</th>
      <th>Male 25 29</th>
      <th>Female 25 29</th>
      <th>Male 30 49</th>
      <th>Female 30 49</th>
      <th>Male 50 above</th>
      <th>Female 50 above</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gender_reports.each do |gender_report| %>
      <tr>
        <td><%= gender_report.meeting_date %></td>
        <td><%= gender_report.meeting_venue %></td>
        <td><%= gender_report.hf_targeted %></td>
        <td><%= gender_report.hf_participated %></td>
        <td><%= gender_report.admin_sector_targeted %></td>
        <td><%= gender_report.admin_sector_participated %></td>
        <td><%= gender_report.admin_cell_targeted %></td>
        <td><%= gender_report.admin_cell_participated %></td>
        <td><%= gender_report.male_10_14 %></td>
        <td><%= gender_report.female_10_14 %></td>
        <td><%= gender_report.male_15_19 %></td>
        <td><%= gender_report.female_15_19 %></td>
        <td><%= gender_report.male_20_24 %></td>
        <td><%= gender_report.female_20_24 %></td>
        <td><%= gender_report.male_25_29 %></td>
        <td><%= gender_report.female_25_29 %></td>
        <td><%= gender_report.male_30_49 %></td>
        <td><%= gender_report.female_30_49 %></td>
        <td><%= gender_report.male_50_above %></td>
        <td><%= gender_report.female_50_above %></td>
        <td><%= gender_report.references %></td>
        <td><%= link_to 'Show', gender_report %></td>
        <td><%= link_to 'Edit', edit_gender_report_path(gender_report) %></td>
        <td><%= link_to 'Destroy', gender_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gender report', new_gender_report_path %>
