<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting date:</strong>
  <%= @gender_report.meeting_date %>
</p>

<p>
  <strong>Meeting venue:</strong>
  <%= @gender_report.meeting_venue %>
</p>

<p>
  <strong>Hf targeted:</strong>
  <%= @gender_report.hf_targeted %>
</p>

<p>
  <strong>Hf participated:</strong>
  <%= @gender_report.hf_participated %>
</p>

<p>
  <strong>Admin sector targeted:</strong>
  <%= @gender_report.admin_sector_targeted %>
</p>

<p>
  <strong>Admin sector participated:</strong>
  <%= @gender_report.admin_sector_participated %>
</p>

<p>
  <strong>Admin cell targeted:</strong>
  <%= @gender_report.admin_cell_targeted %>
</p>

<p>
  <strong>Admin cell participated:</strong>
  <%= @gender_report.admin_cell_participated %>
</p>

<p>
  <strong>Male 10 14:</strong>
  <%= @gender_report.male_10_14 %>
</p>

<p>
  <strong>Female 10 14:</strong>
  <%= @gender_report.female_10_14 %>
</p>

<p>
  <strong>Male 15 19:</strong>
  <%= @gender_report.male_15_19 %>
</p>

<p>
  <strong>Female 15 19:</strong>
  <%= @gender_report.female_15_19 %>
</p>

<p>
  <strong>Male 20 24:</strong>
  <%= @gender_report.male_20_24 %>
</p>

<p>
  <strong>Female 20 24:</strong>
  <%= @gender_report.female_20_24 %>
</p>

<p>
  <strong>Male 25 29:</strong>
  <%= @gender_report.male_25_29 %>
</p>

<p>
  <strong>Female 25 29:</strong>
  <%= @gender_report.female_25_29 %>
</p>

<p>
  <strong>Male 30 49:</strong>
  <%= @gender_report.male_30_49 %>
</p>

<p>
  <strong>Female 30 49:</strong>
  <%= @gender_report.female_30_49 %>
</p>

<p>
  <strong>Male 50 above:</strong>
  <%= @gender_report.male_50_above %>
</p>

<p>
  <strong>Female 50 above:</strong>
  <%= @gender_report.female_50_above %>
</p>

<p>
  <strong>References:</strong>
  <%= @gender_report.references %>
</p>

<%= link_to 'Edit', edit_gender_report_path(@gender_report) %> |
<%= link_to 'Back', gender_reports_path %>
