<p id="notice"><%= notice %></p>

<p>
  <strong>Periode:</strong>
  <%= @hmis_report.periode %>
</p>

<p>
  <strong>Imci diarrhea dehydratation:</strong>
  <%= @hmis_report.IMCI_diarrhea_dehydratation %>
</p>

<p>
  <strong>Imci diarrhea evident dehydratation:</strong>
  <%= @hmis_report.IMCI_diarrhea_evident_dehydratation %>
</p>

<p>
  <strong>Imci diarrhea no dehydratation:</strong>
  <%= @hmis_report.IMCI_diarrhea_no_dehydratation %>
</p>

<p>
  <strong>Imci peneumonie:</strong>
  <%= @hmis_report.IMCI_Peneumonie %>
</p>

<p>
  <strong>Gbv symptoms sexual new f:</strong>
  <%= @hmis_report.GBV_symptoms_sexual_new_F %>
</p>

<p>
  <strong>Gbv symptoms sexual new m:</strong>
  <%= @hmis_report.GBV_symptoms_sexual_new_M %>
</p>

<p>
  <strong>Gbv symptoms physical new f:</strong>
  <%= @hmis_report.GBV_symptoms_Physical_new_F %>
</p>

<p>
  <strong>Gbv symptoms physical new m:</strong>
  <%= @hmis_report.GBV_symptoms_Physical_new_M %>
</p>

<p>
  <strong>Anc new:</strong>
  <%= @hmis_report.ANC_new %>
</p>

<p>
  <strong>Anc trim 1 visit:</strong>
  <%= @hmis_report.ANC_trim_1_visit %>
</p>

<p>
  <strong>Anc 4th  visit:</strong>
  <%= @hmis_report.ANC_4th__visit %>
</p>

<p>
  <strong>Anc new fullcource:</strong>
  <%= @hmis_report.ANC_new_fullCource %>
</p>

<p>
  <strong>Deliveries total:</strong>
  <%= @hmis_report.Deliveries_total %>
</p>

<p>
  <strong>Deliveries 16 19:</strong>
  <%= @hmis_report.Deliveries_16_19 %>
</p>

<p>
  <strong>Deliveries under 15:</strong>
  <%= @hmis_report.Deliveries_under_15 %>
</p>

<p>
  <strong>Births live:</strong>
  <%= @hmis_report.Births_live %>
</p>

<p>
  <strong>Births live weight 2 5kg:</strong>
  <%= @hmis_report.Births_live_weight_2_5kg %>
</p>

<p>
  <strong>Premature weight 2 5kg 22 73weeks:</strong>
  <%= @hmis_report.Premature_weight_2_5kg_22_73Weeks %>
</p>

<p>
  <strong>Newborns breastfed 1hour:</strong>
  <%= @hmis_report.Newborns_breastfed_1hour %>
</p>

<p>
  <strong>Newborns not cry:</strong>
  <%= @hmis_report.Newborns_not_cry %>
</p>

<p>
  <strong>Newborns not cry resuscited:</strong>
  <%= @hmis_report.Newborns_not_cry_resuscited %>
</p>

<p>
  <strong>Newborns not cry resuscited successfully:</strong>
  <%= @hmis_report.Newborns_not_cry_resuscited_successfully %>
</p>

<p>
  <strong>Pnc new:</strong>
  <%= @hmis_report.PNC_new %>
</p>

<p>
  <strong>Pnc standard visit 1 3days:</strong>
  <%= @hmis_report.PNC_standard_visit_1_3days %>
</p>

<p>
  <strong>Fp new:</strong>
  <%= @hmis_report.FP_new %>
</p>

<p>
  <strong>Fp active end month:</strong>
  <%= @hmis_report.FP_active_end_month %>
</p>

<p>
  <strong>Iron sulfate folic:</strong>
  <%= @hmis_report.Iron_sulfate_folic %>
</p>

<p>
  <strong>Micropostal:</strong>
  <%= @hmis_report.Micropostal %>
</p>

<p>
  <strong>Low birth weight kmc:</strong>
  <%= @hmis_report.Low_birth_weight_KMC %>
</p>

<p>
  <strong>Fistula repair:</strong>
  <%= @hmis_report.Fistula_repair %>
</p>

<p>
  <strong>Malaria confirmed under 5 f:</strong>
  <%= @hmis_report.Malaria_confirmed_under_5_F %>
</p>

<p>
  <strong>Malaria confirmed under 5 m:</strong>
  <%= @hmis_report.Malaria_confirmed_under_5_M %>
</p>

<p>
  <strong>Malaria confirmed over 5 f:</strong>
  <%= @hmis_report.Malaria_confirmed_over_5_F %>
</p>

<p>
  <strong>Malaria confirmed over 5 m:</strong>
  <%= @hmis_report.Malaria_confirmed_over_5_M %>
</p>

<p>
  <strong>Malaria conf minor digest sympt under 5 f:</strong>
  <%= @hmis_report.Malaria_conf_minor_digest_sympt_under_5_F %>
</p>

<p>
  <strong>Malaria conf minor digest sympt under 5 m:</strong>
  <%= @hmis_report.Malaria_conf_minor_digest_sympt_under_5_M %>
</p>

<p>
  <strong>Malaria conf minor digest sympt over 5 f:</strong>
  <%= @hmis_report.Malaria_conf_minor_digest_sympt_over_5_F %>
</p>

<p>
  <strong>Malaria conf minor digest sympt over 5 m:</strong>
  <%= @hmis_report.Malaria_conf_minor_digest_sympt_over_5_M %>
</p>

<p>
  <strong>Malaria simple imci under 5 f:</strong>
  <%= @hmis_report.Malaria_simple_IMCI_under_5_F %>
</p>

<p>
  <strong>Malaria simple imci under 5 m:</strong>
  <%= @hmis_report.Malaria_simple_IMCI_under_5_M %>
</p>

<p>
  <strong>Malaria simple imci over 5 f:</strong>
  <%= @hmis_report.Malaria_simple_IMCI_over_5_F %>
</p>

<p>
  <strong>Malaria simple imci over 5 m:</strong>
  <%= @hmis_report.Malaria_simple_IMCI_over_5_M %>
</p>

<p>
  <strong>Malaria simple pregnancy:</strong>
  <%= @hmis_report.Malaria_simple_pregnancy %>
</p>

<p>
  <strong>Malaria minor digest sympt pregnancy:</strong>
  <%= @hmis_report.Malaria_minor_digest_sympt_pregnancy %>
</p>

<p>
  <strong>Bloodsmears plasmodium positives:</strong>
  <%= @hmis_report.BloodSmears_plasmodium_positives %>
</p>

<p>
  <strong>Rapiddiagnostic tests malaria positives:</strong>
  <%= @hmis_report.RapidDiagnostic_tests_malaria_positives %>
</p>

<p>
  <strong>Rapiddiagnostic tests malaria negatives:</strong>
  <%= @hmis_report.RapidDiagnostic_tests_malaria_negatives %>
</p>

<p>
  <strong>References:</strong>
  <%= @hmis_report.references %>
</p>

<%= link_to 'Edit', edit_hmis_report_path(@hmis_report) %> |
<%= link_to 'Back', hmis_reports_path %>
