<%= simple_form_for(@district_hospital) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :references %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
